{
    "extends": "eslint-config-egg",
    "parser": "babel-eslint",
    "rules": {
        "prefer-const": "off",

        "prefer-promise-reject-errors": "off",

        "arrow-parens": 0,

        "no-unused-vars": 0,

        // 强制使用一致的缩进 (indent)
        "indent": ["error", 4]
    }
}
